/***** GENERAL RESET AND BOX MODEL *****/
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/***** GENERAL TEXT STYLING *****/
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: -2%;
    color: rgb(177, 5, 5);;
    font-size: 40px;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align:center;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 0 20px;
}

p:hover {
    transform: scale(1.01);
    transition: transform 1s;
}



.about-paragraph p {
    font-size: 20px;
}

@media screen and (max-width: 1024px),
       screen and (max-width: 768px) {
.about-paragraph p {
    font-size: 17px;
}
}

@media screen and (max-width: 1024px) {
  .about-text {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-left: 400px;
    margin-right: auto;   
    padding: 10px;
    display: flex;
    top: 40px;
    flex-direction: column;
    justify-content: right;
    box-sizing: border-box;
    color: white;
    }
}

@media screen and (max-width: 1921px) {
  .about-text {
    position: relative;
    z-index: 1;
    margin-left: 1000px;
    display: flex;
    top: 100px;
    flex-direction: column;
    justify-content: right;
    box-sizing: border-box;
    color: white;
    }
}

@media screen and (max-width: 768px) {
  .about-text {
    position: relative;
    z-index: 1;
    margin-left: 350px;
    top: 50px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: right;
    box-sizing: border-box;
    color: white;
}
}

a {
    color: red;
    text-decoration: none;
}

q {
    font-style: italic;
}

.white-text {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .white-text  {
    margin-top: 12%;
    }
}

@media screen and (max-width: 1921px) {
    .white-text {
        margin-top: 10%;
        position: sticky;  /* This keeps it from scrolling */
        left: 50%;
        z-index: 10;     /* Ensure it's above other content */
    }
}

.center {
    text-align: center;
}

.center:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

@media screen and (max-width: 1921px) {
    .center p {
        text-align: center;
    }
}


/***** IMAGE STYLING *****/
.about-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: -1;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin: auto;
}

img:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/***** FOOTER STYLING *****/
footer {
    padding: 2%;
    background-color: white;
}

/***** NAVBAR STYLING *****/
.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 16px;
    animation: moveNav 5s;
    -webkit-animation: moveNav 5s;
    transform: translateX(0);
}


.Navbar a {
    display: block;
    color: rgb(177, 5, 5);
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    animation: moveNavText 5.75s;
    -webkit-animation: moveNavText 5.75s;
    scroll-margin-top: 80px; /* Adjust to your navbar height */
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.Navbar a.active {
    background-color: darkgray;
}

@keyframes moveNav {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes moveNavText {
    from { top: -100vw; }
    to { top: 0; }
}

@media screen and (max-width: 768px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}

#Home, #About, #Github, #Contact {
    scroll-margin-top: 80px; /* Adjust to your navbar height */
  }

  #About {
    padding-top: 100px; /* Pushes section down */
}

@media screen and (max-width: 1024px) {
  #About {
    padding-top: 0;
  }
}

#GitHub {
  scroll-margin-top: 100px;
}

.Row {
    padding-top: 30;
    margin-top: 0px;   
}

/***** VIDEO BACKGROUND STYLING *****/
#Typing_Video {
    position: absolute;
    top: -100px;
    bottom: 20px;
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    background-color: black;
}

@media screen and (max-width: 1024px) {
    #Typing_Video {
 position: absolute;
    top: -100px;
    bottom: 20px;
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: -1;
    background-color: black;
}
}

@media screen and (max-width: 768px) {
    #Typing_Video {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 100vw;
        padding: 20px;
        z-index: -2;
    }
}

@media screen and (max-width: 1921px) {
    #Typing_Video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 20%;
        z-index: -2;
    }
}

.Video_Text {
    position: relative;
    z-index: 10;
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 295px;
    text-shadow: 2px 2px 8px rgba(177, 5, 5);
    animation: moveVideoText 5.75s;
    -webkit-animation: moveVideoText 5.75s;
}

@media screen and (max-width: 768px) {
    .Video_Text {
    position: relative;
    z-index: 10;
    color: white;
    object-position: top;
    width: 100vw;
    height: 50vh;
    object-fit: fill;
    text-shadow: 2px 2px 8px rgba(177, 5, 5);
    animation: moveVideoText 5.75s;
    -webkit-animation: moveVideoText 5.75s;
    }
}    

.white-text {
    color:;
}

@keyframes moveVideoText {
    from { top: -100vw; }
    to { top: 0; }
}

/***** TABLE AND COLUMN STYLING *****/
.Column_1, .Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
}
    
.Column_1 {
    padding-top: 3%;
    background-color: #f2f2f2;
    left: 20px;
}

.Column_2 {
    padding-top: 1.9%;
    background-color: #4d4d4d;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.about-row {
    position: relative;
    display: flex;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url('./Images/Main_1.png');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
.about-row {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background-image: url('./Images/Main_1.png');
    background-size: cover;
    background-position: center;
}
}


@media screen and (max-width: 1921px) {
.about-row {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background-image: url('./Images/Main_1.png');
    background-size: cover;
    background-position: center;
}
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}



@media screen and (max-width: 768px) {
    .Column_1 {
        overflow: auto;
    }
}

/***** CONTACT FORM STYLING *****/
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 6px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: rgb(177, 5, 5);;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}
